.contact {

    &-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;
        position: relative;
        box-sizing: border-box;

        &-container--default {
            display: grid;
            grid-template-columns: 1fr;

            gap: 32px;
            margin-bottom: 20px;

            &-item {
                display: grid;
                grid-template-columns: 1fr;
                align-items: center;
                justify-items: center;
                gap: 16px;
                width: 100%;

                &--icon {
                    width: 48px;
                }

                span {
                    font-size: 14px;
                }
            }
        }

        &-container--whatsapp {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            justify-content: center;
            text-align: center;
        }
    }
}

@media screen and (min-width: $breakpoint-tablet) {
    .contact {
        &-wrapper {
            grid-template-columns: 1fr 1fr;

            &::before {
                width: 2px;
                height: 100%;
                left: 0;
            }

            &-container--default {
                margin-bottom: 20px;

                &-item {
                    display: grid;
                    justify-items: start;
                    grid-template-columns: auto 1fr;

                    span {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}