$color-white: #ffffff;
$color-black: #000000;

$color-quick-silver: #a5a5a5;

$color-hookers-green: #54786e;
$color-generic-viridian: #27836a;

$color-indigo-dye: #013a62;
$color-dark-eletric-blue: #546978;

$color-medium-champagne: #ebd799;
$color-vegas-gold: #b8a25d;

$color-quick-silver-5: #f6f6f6;
$color-quick-silver-10: #ededed;
$color-quick-silver-15: #e4e4e4;
$color-quick-silver-20: #dbdbdb;
$color-quick-silver-30: #c9c9c9;
$color-quick-silver-40: #b7b7b7;
$color-quick-silver-50: $color-quick-silver;
$color-quick-silver-60: #848484;
$color-quick-silver-70: #636363;
$color-quick-silver-80: #424242;
$color-quick-silver-85: #323232;
$color-quick-silver-90: #212121;
$color-quick-silver-95: #111111;

$color-indigo-dye-5: #e6ebef;
$color-indigo-dye-10: #ccd8e0;
$color-indigo-dye-15: #b3c4d0;
$color-indigo-dye-20: #99b0c0;
$color-indigo-dye-30: #6789a1;
$color-indigo-dye-40: #346181;
$color-indigo-dye-50: $color-indigo-dye;
$color-indigo-dye-60: #012e4e;
$color-indigo-dye-70: #01233b;
$color-indigo-dye-80: #001727;
$color-indigo-dye-85: #00111d;
$color-indigo-dye-90: #000c14;
$color-indigo-dye-95: #00060a;

$color-dark-eletric-blue-5: #eef0f1;
$color-dark-eletric-blue-10: #dde1e4;
$color-dark-eletric-blue-15: #ccd2d6;
$color-dark-eletric-blue-20: #bbc3c9;
$color-dark-eletric-blue-30: #98a5ae;
$color-dark-eletric-blue-40: #768793;
$color-dark-eletric-blue-50: $color-dark-eletric-blue;
$color-dark-eletric-blue-60: #435460;
$color-dark-eletric-blue-70: #323f48;
$color-dark-eletric-blue-80: #222a30;
$color-dark-eletric-blue-85: #192024;
$color-dark-eletric-blue-90: #111518;
$color-dark-eletric-blue-95: #080b0c;

$color-generic-viridian-5: #e9f3f0;
$color-generic-viridian-10: #d4e6e1;
$color-generic-viridian-15: #bedad2;
$color-generic-viridian-20: #a9cdc3;
$color-generic-viridian-30: #7db5a6;
$color-generic-viridian-40: #529c88;
$color-generic-viridian-50: $color-generic-viridian;
$color-generic-viridian-60: #1f6955;
$color-generic-viridian-70: #174f40;
$color-generic-viridian-80: #10342a;
$color-generic-viridian-85: #0c2720;
$color-generic-viridian-90: #081a15;
$color-generic-viridian-95: #040d0b;

$color-hookers-green-5: #eef1f0;
$color-hookers-green-10: #dde4e2;
$color-hookers-green-15: #ccd6d3;
$color-hookers-green-20: #bbc9c5;
$color-hookers-green-30: #98aea8;
$color-hookers-green-40: #76938b;
$color-hookers-green-50: $color-hookers-green;
$color-hookers-green-60: #436058;
$color-hookers-green-70: #324842;
$color-hookers-green-80: #22302c;
$color-hookers-green-85: #192421;
$color-hookers-green-90: #111816;
$color-hookers-green-95: #080c0b;

$color-vegas-gold-5: #f8f6ef;
$color-vegas-gold-10: #f1ecdf;
$color-vegas-gold-15: #eae3ce;
$color-vegas-gold-20: #e3dabe;
$color-vegas-gold-30: #d4c79e;
$color-vegas-gold-40: #c6b57d;
$color-vegas-gold-50: $color-vegas-gold;
$color-vegas-gold-60: #93824a;
$color-vegas-gold-70: #6e6138;
$color-vegas-gold-80: #4a4125;
$color-vegas-gold-85: #37311c;
$color-vegas-gold-90: #252013;
$color-vegas-gold-95: #121009;