.container {
    max-width: $container-max-w-mobile;
    margin: 0 auto;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: hsla(164, 53%, 10%, 0.85);
}



@media screen and (min-width: $breakpoint-tablet) {
    .container {
        max-width: $container-max-w-tablet;
    }
}

@media screen and (min-width: $breakpoint-desktop) {
    .container {
        max-width: $container-max-w-desktop;
    }
}